
<div class="row">
  <div class="col-md-10">
    <div class="table-responsive">
      <div class="jerem">
        <table class ="table table-striped table-bordered" id="dashboard-datatable" data-source="<%= dashboard_index_path(format: :json) %>">
        <thead>
          <tr>
            <th>Reference</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Departure Time</th>
            <th>Truck</th>
            <th>Trailer</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
